extends layout

block content
  h1 how to find my train schedule
  p Select your train below to see it's current schedule.
  #wrapper
    #trainList
      h2 Trains available
      #trains.d-flex.flex-row
    #trainInfo
      strong  <span id='trainName'></span>
      #trainSchedule
        strong Select a train to view its current schedule.
